P
{
    font-size:12px;
    margin:5px;
}

TABLE.list
{
    font-size:12px;
	border-collapse:collapse;
	width:100%
}

TABLE.list TH
{
	background-color:#f7f7f0;
	border:1px;
	border-color:#d7d7d7;
	border-style:solid;
}

TABLE TR.odd
{
	background-color:#fcfcfc;
}

TABLE TR.odd TD
{
	padding-left:5px;
	border:1px;
	border-color:#dddddd;
	border-style:dashed;
}

TABLE TR.even
{
	background-color:#f7f7f7;
	border:1px;
	border-color:#dddddd;
	border-style:dashed;
}

TABLE TR.even TD
{
	padding-left:5px;
	border:1px;
	border-color:#dddddd;
	border-style:dashed;
}
